@media screen and (min-width: 295px){
	
	*{
		background-image: url('../../imagenes/Mantenimiento.jpg');
		background-repeat: no-repeat;
		z-index: 9999999999999;

	}

	header{
		display: block;
		background-color: red;
	}

    div{
        visibility: hidden;
    }
}

@media screen and (min-width: 480px){


}

@media screen and (min-width: 576px) {
	*{
		background-image: none;
	}

	header{
		background-color: transparent;
	}

    div{
        visibility: visible;
    }
}

@media screen and (min-width: 295px ) {
	*{
		z-index: auto;
	}
}