@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
/* User Style
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

body {
    /* Margin bottom para el alto del Footer*/
    margin-bottom: 60px;
}

body > .scroll-user{
    max-height: -webkit-fill-available;
}

body > div .container-fluid {
    padding: 20px;
    padding-top: 210px;
    z-index: -1;
    /*z-index: -1;*/
    /*180px*/
    /*padding: 60px 15px 0;*/
}

.mCSB_scrollTools {
    width: 4px;
}

.mCSB_inside > .mCSB_container {
    margin-right: 0 !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #228ae6;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
    background-color: #228ae6;
}

header{
    position: fixed;
    z-index: 9999;
    width: 100%;
}

header nav{
    height: 160px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/**** Cards ****/
.contentCard{
    height: 400px;
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
    border-radius: 4px;
    cursor: pointer;
}

.styCard{
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d ;
    transition: transform 1s;
}

.contentCard:hover .styCard{
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.styCard div{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #03446A;
    /*text-align: center;*/
    border-radius: 6px;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-font-smoothing: antialiased;
}

.styCard .card-front{
    font-family: Lily Script One;
    font-size: 60px;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.styCard .card-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-back .content-back {
    padding: 3.5rem 2.5rem 0.5rem;
    font-family: 'Nunito', Sans-Serif;
}

.btn_push{
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #2ECC71;
    border-bottom: 4px solid #27AE60;
    outline: none;
    cursor: pointer;
}

/*.btn_login:hover{*/
/*padding: 9.5px 20px;  */
/*-webkit-transition-duration-top: 0.4s;*/
/*background-color: #2ECC85;*/
/*color: #fff;*/
/*text-shadow: 0px 0px 0px #000;*/
/*font-family: 'roboto';*/
/*filter:blur(0.55px);*/
/*}*/

.btn_push:hover{
    -webkit-transition-duration-top: 0.4s;
    background-color: #2ECC85;
}

.btn_push:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid #2ECC71;
}

.btn_push:focus
{
    outline: none;
    box-shadow: none;
}

/*.styCard.flipped {*/
    /*-webkit-transform: rotateY(180deg);*/
    /*transform: rotateY(180deg);*/
/*}*/
/*.styCard.flipped*/
/*{*/
/*}*/

.styCard::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    content: '';
    opacity: 0;
    z-index: -1;
}
.styCard:hover, .styCard:focus {
    transform: scale3d(1.006, 1.006, 1);
}
.styCard:hover::after, .styCard:focus::after {
    opacity: 0.6;
}

.footer {
    /*position: absolute;*/
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    z-index: 99999;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page CSS
-------------------------------------------------- */

.into-back{
    width: 150px;/*250px*/
    height: 162px;
    /*border: solid;*/
    margin-right: 10px;
}

.into img{
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

code {
    font-size: 80%;
}
/**** Media Query ****/

/*@media screen and (max-width: 360px){*/
    /*.container-fluid{*/
        /*padding-top: 180px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 480px) {*/
    /*.container-fluid{*/
        /*padding-top: 180px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 600px){*/
    /*.container-fluid{*/
        /*padding-top: 180px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 767px){*/
    /*.container-fluid{*/
        /*padding-top: 180px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 950px) {*/

    /*.container-fluid{*/
        /*padding-top: 180px;*/
    /*}*/
/*}*/

