@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
/* User Style
-------------------------------------------------- */

.body_primero{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*color: #fff;*/
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.contenedor-general{
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.contenedor-general .layout_contenedor:first-child{
    /*background-color: #667697;*/
    background-color: #39B3DF;
    /*background-color: #F7F7F7;*/
}

.contenedor-general .layout_contenedor:nth-child(2){
    background-color: #fff;
}

.layout_contenedor{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    transition: all 0.3s;
}

.layout_contenedor:first-child::after{
    content: '';
    position: absolute;
    top: 46%;
    left: 93%;
    width: 80px;
    height: 80px;
    background: #39B3DF;
    color: white;
    transition-duration: 0.4s;
    transform: rotateZ(45deg);
    z-index: 100;
}

.layout_contenedor:hover{
    box-shadow: 0px 5px 28px -12px rgba(0,0,0,0.25), 0 4px 12px 1px rgba(0,0,0,0.22);
}

.centro{
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Nunito', Sans-Serif;
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.centro img{
    width: 60%;
    transition: all 0.3s;
    cursor: pointer !important;
}

.layout_contenedor:first-child .centro img{
    width: 50%;
    border-radius: 50%;
}

.card{
    width: 80%;
    margin: 0 auto;
    border: 0;
    cursor: pointer;
}

.card .card-header{
    background-color: #fff;
}

.card:hover{
    transition: all 0.3s ease;
    transform: scale3d(1.05,1.05,1.05);
    box-shadow: 0px 5px 28px -10px rgba(0,0,0,0.25), 0 6px 12px 1px rgba(0,0,0,0.22);
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}

.card-body h5{
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #0C1021;
    font-weight: bold;
}

#aparecer{
    display: none;
    margin: 0 auto;
}

/*.layout_contenedor:nth-child(2):hover{*/
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
/*}*/

.layout_contenedor:nth-child(2) .centro img{
    opacity: 0.5;
}

.layout_contenedor:nth-child(2) .centro img:hover{
    transition: all 0.3s;
    transform: scale3d(1.1,1.1,1.1);
}

.layout_contenedor:nth-child(2) .centro:hover img#desaparecer{
    transition: all 0.3s;
    display: none;
}

.layout_contenedor:nth-child(2) .centro:hover img#aparecer{
    display: block;
    transition: all 0.3s;
    opacity: 1;
}

/*.layout_contenedor:hover .centro img{*/
    /*opacity: 1;*/
/*}*/

/* CSS de Módulos y Temas
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

body {
    /* Margin bottom para el alto del Footer*/
    margin-bottom: 60px;
}

body > .scroll-user{
    max-height: -webkit-fill-available;
}

body > div .container-fluid {
    padding: 20px;
    padding-top: 210px;
    z-index: -1;
    /*z-index: -1;*/
    /*180px*/
    /*padding: 60px 15px 0;*/
}

.mCSB_scrollTools {
    width: 4px;
}

.mCSB_inside > .mCSB_container {
    margin-right: 0 !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #228ae6;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
    background-color: #228ae6;
}

header{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 160px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    /*box-shadow: 0 0.25rem 0.125rem 0 rgba(33,37,41,.05);*/
}

header nav{
    width: 100%;
    background-color: #39B3DF;
}

header > nav .container-fluid button{
    outline: none;
}

/**** Cards ****/
.contentCard{
    height: 400px;
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
    border-radius: 4px;
    cursor: pointer;
}

.styCard{
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d ;
    transition: transform 1s;
}

.contentCard:hover .styCard{
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.styCard div{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #03446A;
    /*text-align: center;*/
    border-radius: 6px;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-font-smoothing: antialiased;
}

.styCard .card-front{
    font-family: Lily Script One;
    font-size: 60px;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.styCard .card-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-back .content-back {
    padding: 3.5rem 2.5rem 0.5rem;
    font-family: 'Nunito', Sans-Serif;
}

.btn_push{
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #2ECC71;
    border-bottom: 4px solid #27AE60;
    outline: none;
    cursor: pointer;
}

/*.btn_login:hover{*/
/*padding: 9.5px 20px;  */
/*-webkit-transition-duration-top: 0.4s;*/
/*background-color: #2ECC85;*/
/*color: #fff;*/
/*text-shadow: 0px 0px 0px #000;*/
/*font-family: 'roboto';*/
/*filter:blur(0.55px);*/
/*}*/

.btn_push:hover{
    -webkit-transition-duration-top: 0.4s;
    background-color: #2ECC85;
}

.btn_push:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid #2ECC71;
}

.btn_push:focus
{
    outline: none;
    box-shadow: none;
}

/*.styCard.flipped {*/
    /*-webkit-transform: rotateY(180deg);*/
    /*transform: rotateY(180deg);*/
/*}*/
/*.styCard.flipped*/
/*{*/
/*}*/

.styCard::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    content: '';
    opacity: 0;
    z-index: -1;
}
.styCard:hover, .styCard:focus {
    transform: scale3d(1.006, 1.006, 1);
}
.styCard:hover::after, .styCard:focus::after {
    opacity: 0.6;
}

.footer {
    /*position: absolute;*/
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    z-index: 99999;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page CSS
-------------------------------------------------- */

.into-back{
    margin: 10px;
    /*width: 150px;!*250px*!*/
    /*height: 162px;*/
    /*border: solid;*/
    /*margin-right: 10px;*/
}

.into img{
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

code {
    font-size: 80%;
}
/**** Media Query ****/

@media screen and (max-width: 360px){

    .layout_contenedor:first-child::after{
        width: 40px;
        height: 40px;
        left: 89%;
    }

    .layout_contenedor:first-child .centro img{
        width: 80%;
    }

    .card-body h5{
        font-size: 0.4em;
    }

    .layout_contenedor:nth-child(2) .centro img{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .layout_contenedor:first-child::after{
        width: 40px;
        height: 40px;
        left: 89%;
    }

    .card{
        width: 100%;
    }

    .card-body h5{
        font-size: 0.6em;
    }

    .layout_contenedor:nth-child(2) .centro img{
        width: 85%;
    }
}

@media screen and (max-width: 600px){
    .layout_contenedor:first-child::after{
        width: 40px;
        height: 40px;
        left: 90%;
    }

    .layout_contenedor:first-child .centro img{
        width: 90%;
    }

    .card-body h5{
        font-size: 0.6em;
    }

    .layout_contenedor:nth-child(2) .centro img{
        width: 100%;
    }
}


