@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
/* User Style
-------------------------------------------------- */

.body_primero{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*color: #fff;*/
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.contenedor-general{
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.contenedor-general .layout_contenedor:first-child{
    /*background-color: #667697;*/
    background-color: #39B3DF;
    /*background-color: #F7F7F7;*/
}

.contenedor-general .layout_contenedor:nth-child(2){
    background-color: #fff;
}

.layout_contenedor{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    transition: all 0.3s;
}

.layout_contenedor:first-child::after{
    content: '';
    position: absolute;
    top: 46%;
    left: 93%;
    width: 80px;
    height: 80px;
    background: #39B3DF;
    color: white;
    transition-duration: 0.4s;
    transform: rotateZ(45deg);
    z-index: 100;
}

.layout_contenedor:hover{
    box-shadow: 0px 5px 28px -12px rgba(0,0,0,0.25), 0 4px 12px 1px rgba(0,0,0,0.22);
}

.centro{
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Nunito', Sans-Serif;
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.centro img{
    width: 60%;
    transition: all 0.3s;
    cursor: pointer !important;
}

.layout_contenedor:first-child .centro img{
    width: 50%;
    border-radius: 50%;
}

.intro{
    width: 80%;
    margin: 0 auto;
    border: 0;
    cursor: pointer;
}

.intro .card-header{
    background-color: #fff;
}

.intro:hover{
    transition: all 0.3s ease;
    transform: scale3d(1.05,1.05,1.05);
    box-shadow: 0px 5px 28px -10px rgba(0,0,0,0.25), 0 6px 12px 1px rgba(0,0,0,0.22);
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}

.intro .card-body h5{
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #0C1021;
    font-weight: bold;
}

#aparecer{
    display: none;
    margin: 0 auto;
}

/*.layout_contenedor:nth-child(2):hover{*/
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
/*}*/

.layout_contenedor:nth-child(2) .centro img{
    opacity: 0.5;
}

.layout_contenedor:nth-child(2) .centro img:hover{
    transition: all 0.3s;
    transform: scale3d(1.1,1.1,1.1);
}

.layout_contenedor:nth-child(2) .centro:hover img#desaparecer{
    transition: all 0.3s;
    display: none;
}

.layout_contenedor:nth-child(2) .centro:hover img#aparecer{
    display: block;
    transition: all 0.3s;
    opacity: 1;
}

/*.layout_contenedor:hover .centro img{*/
    /*opacity: 1;*/
/*}*/

/* CSS de Módulos y Temas
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

body {
    /* Margin bottom para el alto del Footer*/
    margin-bottom: 60px;
}

body > .scroll-user{
    max-height: -webkit-fill-available;
}

body > div .container-fluid {
    padding: 20px;
    padding-top: 210px;
    z-index: -1;
    /*z-index: -1;*/
    /*180px*/
    /*padding: 60px 15px 0;*/
}

.mCSB_scrollTools {
    width: 4px;
}

.mCSB_inside > .mCSB_container {
    margin-right: 0 !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #228ae6;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
    background-color: #228ae6;
}

header{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 160px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    /*box-shadow: 0 0.25rem 0.125rem 0 rgba(33,37,41,.05);*/
}

header nav{
    width: 100%;
    /*background-color: #39B3DF;*/
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

header > nav .container-fluid button{
    outline: none;
}

/**** Cards ****/
.contentCard{
    height: 400px;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
    border-radius: 5%;
    /*border-radius: 4px;*/
    cursor: pointer;
}

.contentCard .card {
    border-radius: 5%;
}

.styCard{
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 0.8s;
    -webkit-transform-style: preserve-3d ;
    transform-style: preserve-3d;
}

.contentCard:hover .styCard{
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.styCard div{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5%;
    /*border-radius: 6px;*/
    background: #fff;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -o-box-pack: center;
    justify-content: center;
    -o-box-align: center;
    align-items: center;
    font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #03446A;
}

.styCard .card-front{
    font-family: Lily Script One, Roboto, Sans-Serif;
    font-size: 60px;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    background-repeat: round; /*no-repeat*/
    background-size: cover;
    width: 100%;
    height: 100%;
}

.styCard .card-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-back .content-back {
    padding: 3.5rem 2.5rem 0.5rem;
    font-family: 'Nunito', Sans-Serif;
}

.btn_push{
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #39B3DF; /*#2ECC71*/
    border-bottom: 4px solid #228AE6;
    outline: none;
    cursor: pointer;
}

/*.btn_login:hover{*/
/*padding: 9.5px 20px;  */
/*-webkit-transition-duration-top: 0.4s;*/
/*background-color: #2ECC85;*/
/*color: #fff;*/
/*text-shadow: 0px 0px 0px #000;*/
/*font-family: 'roboto';*/
/*filter:blur(0.55px);*/
/*}*/

.btn_push:hover{
    -webkit-transition-duration-top: 0.4s;
    background-color: #39B3DE; /*#2ECC85*/
}

.btn_push:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid #39B3DF;
}

.btn_push:focus
{
    outline: none;
    box-shadow: none;
}

.btn_eye{
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 4px;
    border-radius: 5px;
    background-color: rgba(57, 179, 223, 0.5);
    /*-webkit-box-reflect: below -25px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.5)));*/
    /*background-color: #39B3DF; !*#2ECC71*!*/
    border-bottom: 4px solid #39B3DF;
    box-shadow: 1px 1px 10px -1px #39B3F2;
    outline: none;
    cursor: pointer;
}

.btn_eye:hover{
    border-bottom: 1.8px solid #39B3F2;
    box-shadow: 0px 3px 5px -2px #39B3F2;
    transition: 0.5s;
}


.btn_eye i:first-child{
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    color: #fff;
}

.btn_eye:hover i:first-child{
    display: none;
    color: #fff;
    -webkit-transition: 0.5s, color 0.5s, display 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s, color 0.5s, display 0.5s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.btn_eye i:nth-child(2){
    color: transparent;
}

.btn_eye:hover i:nth-child(2){
    color: #fff;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

/*.styCard.flipped*/

.styCard::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-transition:opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    content: '';
    opacity: 0;
    z-index: -1;
    border-radius: 5%;
}
.styCard:hover, .styCard:focus {
    transform: scale3d(1.006, 1.006, 1);
    -moz-transform: scale3d(1.006, 1.006, 1);
}
.styCard:hover::after, .styCard:focus::after {
    opacity: 0.6;
}

.card-front h4:first-child{
    border-radius: 5px;
    box-shadow: 0px 5px 50px 4px #6C757D;
    background-color: rgba(40, 60, 70, 0.7)
    /*background-color: rgba(34, 138, 230, 0.8) !*#228AE6*!*/
    /*background-color: rgba(34, 138, 230, 0.7) !*#228AE6*!*/
}

.desactivado{
    background-color: rgba(40, 60, 70, 0.7);
    border-radius: 5px;
    box-shadow: inset 1px 1px 1000px 100px #6C757D;
}

.desactivado::after{
    content: 'PRÓXIMAMENTE';
    opacity: 0.75;
    color: white;
    position: absolute;
    /*border-radius: 5px;*/
    /*padding: 10px;*/
    /*box-shadow: 0px 5px 50px 4px #6C757D;*/
    /*background-color: rgba(40, 60, 70, 0.7);*/
    -webkit-transform: rotateZ(315deg);
    transform: rotateZ(315deg);
    font-size: 3.5rem;
}


.card-back .desactivado::after{
    opacity: 0.75;
    color: white;
    position: absolute;
    font-family: Lily Script One, Roboto, Sans-Serif;
    padding: 0;
    left: -6%;
    top: 38%;
}

/* COMPONENTE TEMAS*/
.html_wrapper{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper{
    margin: 5em auto;
    max-width: 1000px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 5px 0
}

.cards {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.tcard {
    margin: 15px;
    width: calc((100% / 3) - 30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 991px) {
    .tcard {
        width: calc((100% / 2) - 30px);
    }
}
@media screen and (max-width: 767px) {
    .tcard {
        width: 100%;
    }
}

.tcard:hover .tcard__inner {
    /*background-color: #39B3DF;*/
    /*background-color: rgba(52, 58, 64, 0.65);*/
    background: -webkit-gradient(linear, left top, right top, from(rgba(52, 125, 124, 0.5)), to(rgba(57, 179, 242, 0.65)));
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    /*box-shadow: 1px 1px 10px rgba(0,0,0,0.4);*/
}

.tcard__inner {
    width: 100%;
    padding: 30px;
    position: relative;
    cursor: pointer;
    background-color: #949fb0;
    color: #eceef1;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.tcard__inner:after {
    transition: all 0.3s ease-in-out;
}

.tcard__inner .fa-folder{
    width: 100%;
    margin-top: .25em;
}

.tcard__expander{
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    /*border: 1px solid rgba(40, 60, 70, 0.3);*/
    background: -webkit-gradient(linear, left top, left bottom, from(#e9ecef), to(rgba(255, 255, 255, 0.5)));
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*text-transform: uppercase;*/
    color: rgba(40, 60, 70, 0.5);
    /*color: #eceef1;*/
    font-size: 1.2rem;
    box-shadow: 0px 8px 15px -5px rgba(0,0,0,0.4);
    /*box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.4);*/

}

.tcard__expander .fa-times-circle{
    font-size: 0.75em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.tcard__expander .fa-times-circle:hover {
    opacity: 0.9;
}
.tcard.is-collapsed .tcard__inner:after {
    content: "";
    opacity: 0;
}
.tcard.is-collapsed .tcard__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
}

.tcard.is-expanded .tcard__inner {
    /*background-color: rgba(57, 179, 223, 0.65);*/
    color: white;
    box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.4);
}
.tcard.is-expanded .tcard__inner:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #e9ecef;
    /*border-bottom: 15px solid #333a45;*/
}
.tcard.is-expanded .tcard__inner .fa-folder:before {
    content: "\f07c";
}

.tcard.is-expanded .tcard__expander {
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1;
    padding: 20%;
    padding-left: 10%;
    padding-right: 10%;
    /*padding: 40%;*/
}

.tcard.is-expanded:hover .tcard__inner {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.tcard.is-inactive .tcard__inner {
    pointer-events: none;
    opacity: 0.5;
    filter: blur(3px);
    transform: scale(0.98);
}

.tcard.is-inactive:hover .tcard__inner {
    background-color: #949fb0;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media screen and (min-width: 992px) {
    .tcard:nth-of-type(3n+2) .tcard__expander {
        margin-left: calc(-100% - 30px);
    }

    .tcard:nth-of-type(3n+3) .tcard__expander {
        margin-left: calc(-200% - 60px);
    }

    .tcard:nth-of-type(3n+4) {
        clear: left;
    }

    .tcard__expander {
        width: calc(300% + 60px);
    }

    .tcard__expander  div{
        /*width: calc(100% + 30px);*/
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .tcard:nth-of-type(2n+2) .tcard__expander {
        margin-left: calc(-100% - 30px);
    }

    .tcard:nth-of-type(2n+3) {
        clear: left;
    }

    .tcard__expander {
        width: calc(200% + 30px);
    }

    .tcard__expander  div{
        width: calc(100% + 15px);
    }
}

/*Footer*/

.footer {
    /*position: absolute;*/
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    z-index: 99999;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page CSS
-------------------------------------------------- */

.color_bg_primero{
    background-color: #63d0ff;
}

.color_bg_segundo{
    background-color: #2ECC71;
}

.color_bg_tercero{
    background-color: #343a40;
}

.color_bg_cuarto{
    background-color: #347D7C;
}



.into-back{
    margin: 10px;
    /*width: 150px;!*250px*!*/
    /*height: 162px;*/
    /*border: solid;*/
    /*margin-right: 10px;*/
}

.into img{
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

code {
    font-size: 80%;
}
/**** Media Query ****/

@media screen and (max-width: 360px){

    .layout_contenedor:first-child::after{
        width: 40px;
        height: 40px;
        left: 89%;
    }

    .layout_contenedor:first-child .centro img{
        width: 80%;
    }

    .intro .card-body h5{
        font-size: 0.4em;
    }

    .layout_contenedor:nth-child(2) .centro img{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .layout_contenedor:first-child::after{
        width: 40px;
        height: 40px;
        left: 89%;
    }

    .intro{
        width: 100%;
    }

    .intro .card-body h5{
        font-size: 0.6em;
    }

    .layout_contenedor:nth-child(2) .centro img{
        width: 85%;
    }
}

@media screen and (max-width: 600px){
    .layout_contenedor:first-child::after{
        width: 40px;
        height: 40px;
        left: 90%;
    }

    .layout_contenedor:first-child .centro img{
        width: 90%;
    }

    .intro .card-body h5{
        font-size: 0.6em;
    }

    .layout_contenedor:nth-child(2) .centro img{
        width: 100%;
    }
}


